name: keda-app

services:
  app:
    build:
      context: ./app
    environment:
      APP_BASE_URL: ${APP_BASE_URL:-http://localhost:8080}
      APP_SESSION_SECRET: ${APP_SESSION_SECRET:-change-me-in-lab}
      APP_CORS_MODE: ${APP_CORS_MODE:-secure}
      APP_ERROR_DETAIL: ${APP_ERROR_DETAIL:-0}
      APP_AUTHZ_ENFORCE_TENANT: ${APP_AUTHZ_ENFORCE_TENANT:-1}
      APP_AUTHZ_ENFORCE_OWNER: ${APP_AUTHZ_ENFORCE_OWNER:-1}
      OIDC_ENABLED: ${OIDC_ENABLED:-0}
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID:-keda-app}
      OIDC_ISSUER_PUBLIC: ${OIDC_ISSUER_PUBLIC:-http://localhost:8081/realms/keda}
      OIDC_ISSUER_INTERNAL: ${OIDC_ISSUER_INTERNAL:-http://keycloak:8080/realms/keda}
    ports:
      - "8080:8080"
    volumes:
      - app_data:/data

  keycloak:
    profiles: ["oidc"]
    image: quay.io/keycloak/keycloak:26.0
    command: ["start-dev", "--import-realm"]
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8080"
    volumes:
      - ./keycloak/realm.json:/opt/keycloak/data/import/realm.json:ro

volumes:
  app_data:
